.contenedor2 {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    padding-left: 45%;
    display: flex;
    font-size: small;
}

.description {
    display: flex;
    padding-left: 45%;
    margin-top: -8px;
    margin-bottom: 10px;
}

#title-cvc {
    padding-left: 20px;
}

.description-form {
    width: 300px;
    border-radius: 5px;
    height: 30px;
    border-style: solid;
    border-color: #a1ac88;
    
}

.description-form1 {
    border-radius: 5px;
    height: 30px;
    width: 50px;
    border-style: solid;
    border-color: #a1ac88;
}

.description-form2 {
    border-radius: 5px;
    height: 30px;
    width: 50px;
    border-style: solid;
    border-color: #a1ac88;
}

.año {
    padding-left: 10px;
    
}

.cvc {
    padding-left: 18px;
}

.buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 30px;
    margin-left: 470px;
}

.buttom-1 {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    color: white;
    background-color: #4d3e6b;
}

.error1 {
    color: red;
    padding-top: 22px;
    position: absolute;
    font-size: 13px;
    display: none;
}

.error1-1 {
    color: red;
    padding-top: 22px;
    position: absolute;
    font-size: 13px;
    display: none;
}

.error2 {
    color: red;
    padding-top: 22px;
    position: absolute;
    font-size: 13px;
    display: none;
}

.error2-1 {
    color: red;
    padding-top: 22px;
    position: absolute;
    font-size: 13px;
    display: none;
}

.error3 {
    color: red;
    padding-top: 22px;
    position: absolute;
    font-size: 13px;
    display: none;
}

.error3-1 {
    color: red;
    padding-top: 22px;
    position: absolute;
    font-size: 13px;
    display: none;   
}



