@media screen and (max-width: 422px){
    .tarjeta2 {
        width: 200px;
    }

    .tarjeta-cvc {
        padding-right: 0px;
    }

   .tarjeta1 {
    height: 165px;
    margin-top: 320px;
    width: 210px;
    margin-left: 262px;
    }

    .logo-img {
        width: 40px;
        height: 25px ;
    }

    .tnumero {
        height: 10px;
        font-size: 22px;
        margin-top: 35px;
    }

    .tarjeta-nombre {
        margin-top: 15px;
        margin-left: 8px;
    }

    .fechass {
        margin-top: 15px;
        padding-left: 147px;
    }

    .añoss {
        margin-top: 15px;
        margin-right: 0;
    }

    .title {
        font-size: 17px;
        padding-right: 0px;
    }

    .description {
        width: 150px;
    }

    .año {
        padding-left: 32px;
    }

    .buttom-1 {
        width: 150px;
    }

    .img-final {
        width: 100px;
        height: 100px;
        margin-top: 8rem;
    }

    .b-final {
        width: 150px;
    }
}